
@{
    ViewBag.Title = "Create";
}

<h2>Add a New Character</h2>

<form class="form-group" action="/Home/Create/" method="post">
    <input type="text" name="name" placeholder="Name" class="input-group-sm">
    <input type="text" name="color" placeholder="Color" class="input-group-sm" />
    <input type="text" name="weapons" placeholder="Weapons" class="input-group-sm" />
    <input type="text" name="personality" placeholder="Personality" class="input-group-sm" />
    <br />
    <input type="text" name="bio" placeholder="Bio" class="input-group-lg" />
    <br />
    <input type="text" name="photoSm" placeholder="Small PhotoURL" class="input-group-sm" />
    <input type="text" name="photoLg" placeholder="Large PhotoURL" class="input-group-sm" />
    <br />
    <input type="submit" class="btn btn-primary"/>
</form>
